.root {
  display: grid;
  grid-template-rows: auto auto 1fr;
  width: 100%;
  height: 100%;
}

.header {
  grid-row: 1;
}

.quick-bar {
  grid-row: 2;
  border: 1px solid blue;
}

.main-content {
  grid-row: 3;
  background-color: orange;
}